<main class="main-container">

  <div class="pic-container">
    <img src="../../../assets/images/ohet-pokemon.png" alt="pokemon-pic">
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="getUsers()">
    <input class="input-field" type="text" placeholder="enter username" name="user-name" id="user-name" [formControlName]="'username'">
    <button class="btn" type="submit">LOGIN</button>
  </form>

  <div class="pic-container">
    <img src="../../../assets/images/pikachu.png" alt="pokemon-pic">
  </div>

</main>
