.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-field {
  padding: 0.5rem;
  border: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
