.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
  margin: 0.2rem;
  border-radius: 0.5rem;
}
