<article class="card" ><!--*ngIf="!hasPokemon(pokemon!)"-->
  <img src="{{pokemon!.imageUrl}}">

  <h5>{{pokemon!.name}}</h5>

  <button *ngIf="context === 'catalogue'"  [disabled]="clicked" (click)="collectPokemon(pokemon!)" class="btn">{{hasPokemon(pokemon!) ? 'Collected' : 'Collect' }}</button>
  <button *ngIf="context === 'profile'" (click)="removePokemon(pokemon!)" class="btn">Remove</button>
</article>
