<main class="main-catalogue">

  <h2>Hallo {{name}}!</h2>
  <p>These are your pokemons...</p>

  <section class="pokemon-wrapper">
    <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
  </section>
</main>
