.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 5px 5px rgba(61, 61, 61, 0.2);
	padding: 0 10%;
	width: 100vw;
	height: 3rem;
	background-color: rgb(255, 237, 100);
}

.link-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;
	margin-left: 5%;
	width: 50%;
	list-style: none;
}

li {
  border-radius: 5px;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(231, 42, 42, 1);
}
