<nav class="navbar">
  <div>
    <h2>Pokemon Trainer</h2>
  </div>

  <ul *ngIf="isUserLoggedIn" class="link-list">
    <li><a routerLink="/catalogue">CATALOGUE</a></li>
    <li><a routerLink="/profile">PROFILE</a></li>
    <li><a (click)="logout()" >LOGOUT</a></li>
  </ul>
</nav>
