<main class="main-catalogue">

  <h2>Catalogue</h2>

  <section class="pokemon-wrapper">
    <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
  </section>

  <div class="nav-btn-container">
    <button *ngIf="size > 9" class="btn"(click)="loadPreviousPage()">previous</button>
    <button class="btn"(click)="loadNextPage()">next</button>
  </div>

</main>
