.main-catalogue {
  position: absolute;
  top: 2rem;
  left: 1%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background-color: rgb(255, 237, 75);
  padding: 2rem;
  border-radius: 1rem;
}

.pokemon-wrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-btn-container {
  display: flex;
  justify-content: space-around;
  min-width: 8rem;
}

.btn {
  background: rgb(61, 61, 61);
}

