* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background: rgb(61, 61, 61);
}

h1,
h5 {
	margin: 0;
	padding: 0;
}

p {
  margin: 0.7rem 0;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}

.main-container {
  position: absolute;
  top: 2rem;
  left: 1%;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  background-color: rgb(255, 237, 75);
  padding: 2rem;
  border-radius: 1rem;
}

.btn {
  background-color: rgb(231, 42, 42);
  color: white;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover{
  background-color: gray;
}

.pic-container {
  display: flex;
  justify-content: center;
  height: 80%;
}
